# ---- IMPORTANT ----------------------------------------------
# This is an inverse gitignore. Rather than adding all files
# and ignoring specific files, it instead selectively adds
# folders and files defined bellow.
# -------------------------------------------------------------

# Ignore all files
/*

# Except these files
!.gitignore
!README.md
!configure_macos.sh
!install.sh

# And these directories
!/aerospace
!/bat
!/ghostty
!/git
!/homebrew
!/ideavim
!/installers
!/karabiner
!/kitty
!/lazygit
!/mise
!/nvim
!/tmux
!/wallpapers
!/zsh

# But ignore these files without the allowed path
/git/config
/karabiner/automatic_backups
/nvim/lazy-lock.json
/tmux/plugins

# And always ignore .local files
*.local
